<!-- resumen compra -->
<div class="text-right p-1">
  <button *ngIf="user?.cart.items.length > 0 && isOrdered" (click)="onBackToShop()" class="btn btn-danger">
    <fa name="chevron-circle-left" class="mr-2"></fa>Volver a compras
  </button>
</div>
<!-- Loading -->
<div *ngIf="isLoading" class="spinner-border text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<!-- search products in receipt -->
<div class="px-1">
  <input
    *ngIf="isOrdered"
    type="text"
    name="search"
    class="form-control"
    placeholder="Buscar productos en el carrito de compras"
    [(ngModel)]="filteredStatus"
  />
</div>
<div class="alert alert-warning alert-dismissible" *ngIf="user?.cart.items.length == 0">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Realizar Compra!</strong>
  <p>Agregar items a carrito de compra.</p>
</div>
<!-- errors -->
<div class="alert alert-danger alert-dismissible" *ngIf="isError">
  <button type="button" class="close" data-dismiss="alert">&times;</button>{{ errorBody }}
</div>
<div class="text-right p-1">
  <button
    *ngIf="user?.cart.items.length > 0 && !isOrdered && user?.cart.status !== 'pending'"
    (click)="onEmptyCart()"
    class="btn btn-warning"
  >
    <fa name="trash" class="mr-2"></fa>Borrar todos los productos
  </button>
</div>
<!-- items in cart -->
<div *ngIf="user?.cart.status !== 'closed'" class="row p-1">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let item of user?.cart.items" class="list-group-item bg-light">
        <div class="d-flex">
          <div class="mr-auto"><span [innerHTML]="item.prod_name | highlight: filteredStatus"></span></div>
          <div>
            <span class="badge badge-info mr-1">Cantidad: {{ item.quantity }}</span>
          </div>
          <div>
            <span class="badge badge-info mr-1">Precio: {{ item.prod_total | currency: "$ ":"symbol":"1.2-2" }}</span>
          </div>
          <div *ngIf="!isOrdered && (user?.cart.status == 'open' || user?.cart.status == 'new')">
            <button (click)="onRemoveProductFromCart(item)" class="btn badge badge-danger text-right">
              <fa name="times"></fa>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- cart total -->
<div class="row p-1">
  <div class="col">
    <span class="btn btn-warning disabled">Total: {{ total | currency: "$ ":"symbol":"1.2-2" }}</span>
  </div>
  <!-- order -->
  <div *ngIf="(!isOrdered && user?.cart.status == 'open') || user?.cart.status == 'new'" class="col text-right">
    <button (click)="onOrder()" class="btn btn-danger" [disabled]="user?.cart.items.length == 0">Pagar</button>
  </div>
</div>
<app-order-form *ngIf="isOrdered" [user]="user"></app-order-form>
