<div class="row">
  <div class="col-md-9 border bg-light py-2">
    <h1 class="text-$ gris-900 text-center m-5 py-2 " ><fa name="shopping-cart" class="pr-2"></fa>Merk Go</h1>
    <p class="m-12 text-center alert-dark">
      Tu Mercado Virtual / En minutos a la puerta de tu casa
    </p>
    <p class="text-center">
      <img class="img-fluid" width="600px"
        src="./assets/images/delivery.jpg"
        class="img-fluid rounded border p-2 "
        alt="Products Info"
      />
    </p>
  </div>
  <div *ngIf="!authService.loggedIn()" class="col-md-3 container-fluid ">
    <div class="col-md-12">
      <app-login></app-login>
    </div>
  </div>
  <div class="col-md bg-info-mark-go p-4">
    <div class="row text-center">
      <div class="col-md-4">
        <p class="mx-4"><img src="./assets/images/clothes.jpg" class="img-fluid rounded" alt="Products Info" /></p>
      </div>
      <div class="col-md-4">
        <p class="mx-4"><img src="./assets/images/abarrotes.jpg" class="img-fluid rounded" alt="Products Info" /></p>
      </div>
      <div class="col-md-4">
        <p class="mx-4"><img src="./assets/images/Uvas.jpg" class="img-fluid rounded" alt="Products Info" /></p>
      </div>

    </div>
    <!-- spinner -->
    <div *ngIf="isLoading" class="spinner-border text-danger" role="status">
      <span class="sr-only">Cargando...</span>
    </div>

    <div class="text-center text-white border rounded p-1 mx-5 my-4">
      <span><strong>{{ productsTotal }}</strong></span>
      Productos Disponibles<br />
      <span><strong>{{ ordersTotal }}</strong></span>
      Canastas que hemos llenado.
    </div>

    <div *ngIf="user" class="text-center bg-warning border rounded p-1 mx-5">
      <app-notification-panel [user]="user"></app-notification-panel>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="mainModal" [ngStyle]="{ display: display }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-dark text-white text-center">
        <h4 class="modal-title" [innerHTML]="modalHeader ? modalHeader : 'Success!'"></h4>
        <button type="button" (click)="onCloseHandled()" class="close" data-dismiss="modal" routerLink="/">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" *ngIf="modalBody" [innerHTML]="modalBody"></div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="onCloseHandled()" class="btn btn-danger" data-dismiss="modal" routerLink="/">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
