#quantity {
  width: 100px;
}

#elegir {
  background-color: #42c6e4;
  color: white;
  border-color: white;
}

#categories {
  background-color: white;
  color: #42c6e4;
  border-color: #42c6e4;
}

#verproductos {
  background-color: #0062cc;
  color: white;
}

.border-radius-50 {
  border-radius: 50%;
}
