<div class="row">
  <div class="col-md-8 border bg-light py-2">

       <p class="text-center">
      <img class="img-fluid" width="1000px" src="./assets/images/delivery.jpg" class="img-fluid rounded border p-2 img-portda"alt="Products Info"/>
    </p>
    <h1 class="text-$ gris-900 text-center m-4 py-3 text-portada" ><fa name="shopping-cart" class="pr-2"></fa>Merk Go</h1>
    <p class="m-12 text-center alert-dark .font-italic">
      Tu Mercado Virtual / En minutos a la puerta de tu casa o negocio.
    </p>
  </div>


  <div *ngIf="!authService.loggedIn()" class="col-md-4 container-fluid ">
    <div class="col-md-12">
      <app-login></app-login>
    </div>
  </div>
  <div class="col-md bg-info-mark-go p-4 py-5 m-5"id="banner">
      <div>
          <p class="icon-register"><fa name="pager" class="pr-2"></fa></p>
          <p class="todo">Todo lo que necesitas a un solo</p>
          <p class="todo1">CLICK</p>
          <p class="img-info text-center"><a href="/dashboard"><img src="./assets/images/cursor.png" alt="click"></a></p>
      </div>

  </div>
  <div class="col-md bg-info-mark-go p-4 py-5 m-5">
    <div class="row text-center">
      <div class="col-md-4">
        <p class="mx-4 .lead " >
          <img src="./assets/images/clothes.jpg" class="img-fluid rounded img-seccion-footer" alt="Products Info" />
          <span class="text-img-footer-seccion ">Encuentra las ultimas colecciones en calzado y vestuario</span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="mx-4 .lead " >
          <img src="./assets/images/abarrotes.jpg" class="img-fluid rounded img-seccion-footer"  alt="Products Info" />
          <span class="text-img-footer-seccion">Todo lo relacionado para el hogar</span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="mx-4 .lead " >
          <img src="./assets/images/Uvas.jpg" class="img-fluid rounded img-seccion-footer"  alt="Products Info" />
          <span class="text-img-footer-seccion">Frutas y verduras frescas</span>
      </p>
      </div>

    </div>
    <!-- spinner -->
    <div *ngIf="isLoading" class="spinner-border text-danger" role="status">
      <span class="sr-only">Cargando...</span>
    </div>

    <div class="col-md-12 intro-footer">Nuestro Mark Go</div>

    <div class="text-center text-white border rounded p-1 mx-5 my-4 statistics-footer">
      <span><strong>{{ productsTotal }}</strong></span>
      Productos Disponibles<br />
      <span><strong>{{ ordersTotal }}</strong></span>
      Canastas que hemos llenado.
    </div>

    <br>

    <div *ngIf="user" class="text-center bg-info border rounded p-1 mx-5">
      <app-notification-panel [user]="user"></app-notification-panel>
    </div>

    <div class="info-des">Powered by Nestor - Paola</div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="mainModal" [ngStyle]="{ display: display }">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-dark text-white text-center">
        <h4 class="modal-title" [innerHTML]="modalHeader ? modalHeader : 'Success!'"></h4>
        <button type="button" (click)="onCloseHandled()" class="close" data-dismiss="modal" routerLink="/">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" *ngIf="modalBody" [innerHTML]="modalBody"></div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="onCloseHandled()" class="btn btn-danger" data-dismiss="modal" routerLink="/">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
